.safesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 2.8rem;
  gap: 1rem;
}

.safesContainerActive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 2.8rem;
  gap: 1rem;
  background-image: linear-gradient(to right, #72134b, #1d212c);
}

.safesInfo {
  display: flex;
  align-items: center;
}

#ShieldLogo-1 {
  width: 2.5rem;
}

#safeName {
  color: white;
  font-size: 16px;
}

#lastUpdated {
  color: #5e627c;
}

.safesDetails {
  display: flex;
  flex-direction: column;
}

.safesDetails > span {
  width: 10rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editRemove {
  display: flex;
  gap: 0.5rem;
}
.editRemoveNone {
  display: none;
}

.faPenToSquare,
.faTrashCan {
  background: transparent;
  font-size: 1rem;
  color: #5e627c;
}

.safesListContainer::-webkit-scrollbar {
  display: none;
}

.safesListContainer {
  height: 28rem;
  overflow-y: auto;
}
