.createSecretContainer {
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 35rem;
  padding: 3rem;
  background-color: #2a2e3e;
  gap: 2rem;
  box-shadow: -15rem -15rem 55rem 55rem rgb(8 8 8 / 70%);
}

#title {
  font-size: 24px;
}

.folderName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#folderNameLabel {
  color: white;
  font-size: 13px;
}

#folderNameInput {
  height: 0.8rem;
  font-size: 16px;
  padding: 1rem;
  outline: none;
}

#regex {
  color: #8b8ea6;
  font-weight: 700;
}

#regexInvalid {
  color: red;
  font-weight: 700;
}

.saveCancelBtn {
  display: flex;
  gap: 0.5rem;
  align-self: flex-end;
}

#saveBtn,
#cancelBtn {
  font-size: 14px;
  font-weight: bold;
  width: 7rem;
  height: 2.3rem;
  border: none;
}

#saveBtnInactive {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  width: 7rem;
  height: 2.3rem;
  border: none;
  padding: 0.5rem;
  background-color: gray;
  color: white;
}

#saveBtn {
  padding: 0.5rem;
  background-color: #e20074;
  color: white;
}

#cancelBtn {
  color: #e20074;
}
