.container {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: white;
  height: 36rem;
  width: 75rem;
  margin: 3.1rem 10rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 13.3vw;
  top: 16vh;
  width: 73vw;
  height: 77vh;
  background-color: white;
} */

p {
  color: black;
}
