.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: white;
  height: 36rem;
  width: 75rem;
  margin-left: 170px;
}

.left {
  display: flex;
  flex-direction: column;
}

p {
  color: black;
}
