.secretsContainer {
  background-image: linear-gradient(to bottom, #151820, #2c3040);
  height: 26rem;
}

.secretsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1.5rem;
  border-bottom: 3px solid #222632;
}

.folderIcon {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.secretsNav,
.addFolder {
  color: #5e627c;
  font-size: 16px;
}

/* .faFolder {
  font-size: 20px;
  color: linear-gradient(to top, #ff61b2, #650038);
}

.faPlus {
  position: absolute;
  font-size: 10px;
  color: white;
  transform: translate(6.6rem, 1px);
} */

.addFolderIcon {
  width: 20px;
}

#secretsCount {
  color: #5e627c;
  margin-left: 0.6rem;
}

.secretsImageBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

#secretsImage {
  width: 10rem;
}

#addSecretsInfo {
  text-align: center;
  color: #bdbdbd;
  padding: 0 15rem;
}

.addSecrets {
  display: flex;
  justify-content: center;
}

#addSecretsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background-color: #454c5e;
  width: 6rem;
  border: none;
  padding: 0.5rem 0;
}

.faPlus {
  font-size: 10px;
  color: white;
}

#addBtnText {
  font-weight: bold;
}
