.safesHeader {
  display: flex;
  justify-content: space-between;
  background-color: #151820;
  height: 50px;

  border-bottom: 1px solid #2a2e3e;
}

.allSafes {
  width: 30rem;
}

#text {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

#count {
  font-size: 18px;
  color: #5e627c;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchIcon {
  align-self: center;
  color: #5e627c;
  background-color: #20232e;
  border-radius: 2px;
  padding: 5px;
  height: 19px;
  width: 15px;
  transform: translateX(10px);
}

.searchField {
  color: #5e627c;
  font-weight: 600;
  align-self: center;
  background-color: #20232e;
  margin: 0.5rem;
  height: 1.7rem;
  border-radius: 2px;
  outline: none;
  border: none;
}

.safesList {
  height: 32.9rem;
  background-color: #151820;
}

.noSafesInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  transform: translateY(-30rem);
}

.addImage {
  width: 40%;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(to bottom, #ff61b2, #650038);
}

.plusIcon {
  color: white;
}

#createText {
  color: white;
  transform: translateY(-20px);
}

.safes {
  z-index: 999;
}

.hasSafes img,
.hasSafes p {
  display: none;
}

.hasSafes > .addBtn {
  position: absolute;
  transform: translate(26rem, 0.8rem);
}
